<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URDF Viz</title>
</head>
<body>
    <h2>Vizualize ROS-Industrial robot URDFs</h2>
    <p>In this example, the web application scans through the entire ROS repo and identifies robots:</p>
    <p><a href="/ros-industrial/abb/kinetic-devel">/ros-industrial/abb/kinetic-devel</a></p>
    <p>robot end-point example: /(owner)/(repo)/(branch)/(robot)</p>
    <p><a href="/AustinDeric/abb_experimental/irb1600-dae/irb1600_6_12">/AustinDeric/abb_experimental/irb1600-dae/irb1600_6_12</a></p>
    <p>The robot takes 20 seconds to load so please be patient.</p>
</body>
</html>